
<!DOCTYPE html>
<html>
  <head>
    <title>Blogspot</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/6670155fc2.js" crossorigin="anonymous"></script>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #03fcbe;">
      <%= link_to 'BlogSpot', root_path, class: 'navbar-brand' %>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/articles">All Articles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/articles/new">New Article</a>
          </li>        
        </ul>
        <!--right side-->
         <ul class="navbar-nav" style="margin-left: auto;">
          <% if current_user %>
            <li class="nav-item">
              <%= link_to 'Log Out', logout_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to current_user.name, current_user, class: "nav-link" %>
            </li>
          <% else %>
          <li class="nav-item">
            <%= link_to 'Sign Up', signup_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Log In', login_path, class: "nav-link" %>
          </li>
          <% end %>          
        </ul>
        
      </div>
    </nav>
    
    <div class="container-fluid">
      <% if flash[:notice] %>
        <%= render partial: 'notice', locals: {msg: flash[:notice], type: "info"} %>
      <%end%>
      <% if flash[:alert]%>
        <%= render partial: 'notice', locals: {msg: flash[:alert], type: "danger"} %>
      <%end%>
      <%= yield %>
    </div>
  
  </body>
</html>